################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/websitev1/websitev1/programming/migrations/__pycache__/__init__.cpython-36.pyc
